<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Message From Customer</title>
	@include('include.css')
</head>
<body>
	
    <p>Dear EasyGo Team</p>
    <p>This email is to inform you that there is new lead information available on the website</p> {{data.email}}</p>
    <p>email: {{data.email}}</p>
    <p>Name: {{data.first_name}} {{data.last_name}}</p>
    <p>Please log in to <a href="">admin.easygo-gps.co.id using the administrator account to view the latest input.</p>


	
</body>
</html>