<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Reset Password</title>
	@include('include.css')
</head>
<body>
	<div>Hello, {{recipient_name}}</div><br />

	<div>Please complete your new Le fournil account by setting up your password.</div>
	<div>You can visit the link below before the expired time ({{expired_time}}) :</div><br />
	<div>Click <a href='{{link}}?token={{token}}'>Here</a></div><br />

</body>
</html>