{{{message}}}

<div style="background-color:white;color:black;text-align:center">
	<br />
	<div>You are receiving this email because you have subscribed to receive updates from us.</div>
	<div>Should you wish to cancel your subscription, please <a href="{{link}}" target="_blank">click here to unsubscribe</a></div><br />
	@include('include.footer')
	<br />
</div>