<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Recover Password</title>
	@include('include.css')
</head>
<body>
	<div>Congratulations {{recipient_name}}</div><br />

	<div>you get a new referral</div>
	<div>Please visit Lefournill to see more</div><br />
	@include('include.footer')
</body>
</html>